.add1 {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: inherit;
  border-radius: 5px;
}

.inp1{
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid rgb(209,213,219);
  border-radius: 5px;
  font-size: 16px;
  font-family: inherit;
}

.inp1:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.bb1{
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #008CBA;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-family: inherit;
  cursor: pointer;
}

.bb1:hover {
  background-color: #006D9C;
}
.upl{
  display: flex;
  align-items: center;
}