.signup{
    display: flex;
    flex-direction: column;
    max-width: 600px;
}
.type{
    display: flex;
    justify-content: space-around;
}
.formm{
    display: flex;
    flex-direction: column;
    width: 600px;
}
.hr3{
    margin: 0;
}
.sign{
    text-decoration: underline;
}
.inputt{
    width: 600px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;  
    margin-top: 1em;
    margin-bottom: 1em;
}
.labell{
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 1em;
}
.btn{
    margin-top: 1em;
}
@media (max-width: 650px) {
    .formm{
        width: 400px;
    }
    .inputt{
        width: 400px;
    }
}
@media (max-width: 450px) {
    .formm{
        width: 350px;
    }
    .inputt{
        width: 350px;
    }
}